 /* About Page Specific Styles */
 .about-hero {
   background: linear-gradient(135deg, #1e293b, #3b82f6);
   color: white;
   /* padding: 100px 8%; */
   padding: 120px 8% 100px;
   text-align: center;
 }

 /* Hero Section */
.hero{
    min-height: 380px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 10%;

    background: #334155;
    color: #fff;
}
/* Hero Content */
.hero-content{
    max-width: 800px;
}

.hero-content h1{
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.2;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.3);
}

.hero-content p{
    font-size: 20px;
    line-height: 1.8;
    color: #dbeafe;
    margin-bottom: 35px;
}
