* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8%;
    background-color: #111827;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img {
    width: 70px;
    height: auto;
    object-fit: contain;
    display: block;
}